{% extends 'lanex/base.html' %}
{% load static %}

{% block title_block %}
About
{% endblock %}
{% block body_block %}
<div class="container text-left">
    <section id="about" class="bg-light">

        <div class="container">
            <div class="row justify-content-center">
                <img class="" src="/static/images/logo.png" />
            </div>

            <h3>What is Lanex? </h3>
            <hr />

            <p class="lead">
                Lanex is a web application that enables users to communicate with each other to exchange languages,
                thereby helping to improve language knowledge and allowing users to create new language partners along
                the way.
                The web application focuses on uniting people so that they can find language partners to participate and
                communicate with others.
            </p>

            <img src="../../static/images/people.jpg" class="mr-4 mb-5 request-large-picture" alt="request image" />
            <h3>What can I do in Lanex? </h3>
            <hr />

            <p class="lead">
                Firstly, the user can set the language request based on the language of interest and preferred location.
                In the request, the user can set the time and place to meet with other interested users through Google
                Maps.
                For online activities in Lanex, they can set the location as their residence and post it in the
                description or title so that they can find language partners who want to chat online on different
                platforms.
                Then, the demand can be anything related to language learning: request to meet, have an online chat,
                join a study group, get recommendations, find a teacher, etc.
            </p>

            <h3>How to find accept and accept a request? </h3>
            <hr />

            <p class="lead">
                Users can accept language requests created by other users to participate in language-related activities
                and meetings. And Lanex grants users the ability to comment on language requests in order to better meet
                the needs of users.
                Finally, we provide users with a search function to make it easier to find language requests that are
                more suitable for their preferences.
            </p>
            <hr />


            <br>
            </p>
        </div>
    </section>
</div>

{% include "lanex/base/footer.html" %}

{% endblock %}