{% extends 'lanex/base.html' %}
{% load static %}

{% block title_block %}
    About
{% endblock %}
{% block body_block %}
<div class="container text-left">
    <div class="jumbotron p-3 jumbo-bg jumbo-bg">
        <div class="container">
            <h2>Lanex</h2>
        </div>
    </div>

    <section id="about" class="bg-light">
        <div class="container">
              <br>
              <br>
              <p class="lead" style="font-family: 'Times New Roman', Times, serif;">
              Lanex is a web application that enables users to communicate with each other to exchange languages, thereby helping to improve language knowledge and allowing users to create new language partners along the way. 
              The web application focuses on uniting people so that they can find language partners to participate and communicate with others. 
              Firstly, the user can set the language request based on the language of interest and preferred location. In the request, the user can set the time and place to meet with other interested users through Google Maps.
              For online activities in Lanex, they can set the location as their residence and post it in the description or title so that they can find language partners who want to chat online on different platforms. 
              Then, the demand can be anything related to language learning: request to meet, have an online chat, join a study group, get recommendations, find a teacher, etc.
              Secondly, users can accept language requests created by other users to participate in language-related activities and meetings. And Lanex grants users the ability to comment on language requests in order to better meet the needs of users.
              Finally, we provide users with a search function to make it easier to find language requests that are more suitable for their preferences.
              <br>
              </p>
        </div>
        </section>
    </div>

{% endblock %}