{% extends 'lanex/base.html' %}
{% load static %}

{% block title_block %}
    Add A Request
{% endblock %}
{% block body_block %}
<div class="container text-center">
    <div class="jumbotron p-4">
        <div class="container">
            <h1>Add a language request</h1>
        </div>
        <hr><br /><br />
        <div class="container">
            {% if language %}
            <form id="add_request_form" method="POST" action="{% url 'lanex:add_language_request' language.slug %}" enctype="multipart/form-data">
            {% else %}
            <form id="add_request_form" method="POST" action="{% url 'lanex:add_request' %}" enctype="multipart/form-data">
            {% endif %}
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Create a request</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}