{% extends 'lanex/base.html' %}
{% load static %}

{% block title_block %}
{% if user.is_authenticated %}
    Homepage
{% else %}
    Home
{% endif %}
{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
  <div class="container text-center">
      <div class="jumbotron p-4">
          <div class="container">
                <h1>Salut 
                  {% if user.first_name %}
                  {{ user.first_name }} {{ user.last_name }}!
                  {% else %}
                  {{ user.username }}!
                  {% endif %}
                  </h1>
          </div>
      </div>
    <br>


  {% include "lanex/languages_view.html" %} 

  <br>
  <section id="requests">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          {% if requests %}
          <h2>Explore current hot language requests</h2><br>
            <ul class="nav flex-column">
                {% for r in requests %}
                    <ul class="list">
                        <li class="list">
                        {% if r.picture %}
                        <img class="list" src="{{ r.picture.url }}" />
                        {% else %}
                        <img class="list" src="{{ r.language.picture.url }}" />
                        {% endif %}
                        <h3 class="list"><a href="{% url 'lanex:show_request' r.language.slug r.slug %}">
                        {{ r.title }}</a></h3>
                        <p class="list">{{ r.desc }}</p>
                        </li>
                    </ul>
                {% endfor %}
          {% else %}
                <li class="nav-item">No requests present it appears</li>
          {% endif %}
        </ul>
        </div>
      </div>
    </div>
  </section>
    {% include "lanex/request/requests.html" %} 

{% else %}
  {% include "lanex/index/landing.html" %} 
  {% endif %}
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'js/scrolling-nav.js' %}"></script>

{% endblock %}