{% extends 'lanex/base.html' %}
{% load static %}

{% block title_block %}
    The Privacy Policy
{% endblock %}

{% block body_block %}
    <div class="container text-left">
        <div class="jumbotron p-4">
            <div class="container bg-success">
                <h2>Privacy</h2>
            </div>
        </div>
    
        <section id="Policy" class="bg-light">
            <div class="container">
                  <br>
                  <br>
                  Account password related information.
                  <br>1. The password complexity is required to be greater than eight digits, and the universal password 12345678 cannot be used.
                  <br>2. Make sure there is only a password. Do not use birthday, name, phone number, etc. as a password, but please remember to avoid forgetting the password.
                  <br>Firstly, creating the correct password will help ensure that you can log in to your account-and help others avoid access. 
                  <br>Secondly, don’t use the password you use on other websites-if a website is hacked and your password is stolen, the hacker will usually try to use that password on other websites. 
                  <br>Finally, don't share your password with anyone. If you think someone else owns it, you should change it.
                  <br>
            </div>
            </section>
        </div>
    
{% endblock %}