{% extends 'lanex/base.html' %}
{% load static %}

{% block title_block %}
The Privacy Policy
{% endblock %}

{% block body_block %}



<section id="Policy" class="bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <img class="" src="/static/images/logo.png" />
        </div>
        <br>
        <h2>Privacy</h2>
        <hr />
        <p class="lead">Account password related information.?</p>
        <p class="lead">
            1. The password complexity is required to be greater than eight digits, and the universal password
            12345678 cannot be used.
            <br>2. Make sure there is only a password. Do not use birthday, name, phone number, etc. as a password, but
            please remember to avoid forgetting the password.
            <br>Firstly, creating the correct password will help ensure that you can log in to your account-and help
            others avoid access.
            <br>Secondly, don’t use the password you use on other websites-if a website is hacked and your password is
            stolen, the hacker will usually try to use that password on other websites.
            <br>Finally, don't share your password with anyone. If you think someone else owns it, you should change it.
            <br>
        </p>

        <p class="lead">Your rights</p>
        <hr />

        <p class="lead">Your principal rights under data protection law are:

            <br>(a) the right to access;
            <br>(b) the right to rectification;
            <br>(c) the right to erasure;
            <br>(d) the right to restrict processing;
            <br>(e) the right to object to processing;
            <br>(f) the right to data portability;
            <br>(g) the right to complain to a supervisory authority; and
            <br>(h) the right to withdraw consent.
        </p>

        <p class="lead">About Cookies</p>
        <hr />

        <p class="lead">
            <br>A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web
            server to a web browser and is stored by the browser. The identifier is then sent back to the server each
            time the browser requests a page from the server.

            <br>Cookies may be either "persistent" cookies or "session" cookies: a persistent cookie will be stored by a
            web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry
            date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser
            is closed.

            <br>Cookies do not typically contain any information that personally identifies a user, but personal
            information that we store about you may be linked to the information stored in and obtained from cookies.
            <br>
            <br>
        </p>

        <p class="lead">Cookies that we use</p>
        <hr />

        <p class="lead">

            We use cookies for the following purposes:

            <br>(a) authentication - we use cookies to identify you when you visit our website and as you navigate our
            website;
            <br> (b) status - we use cookies to help us to determine if you are logged into our website;
            <br> (c) personalisation - we use cookies to store information about your preferences and to personalise the
            website for you;
            <br> (d) security - we use cookies as an element of the security measures used to protect user accounts,
            including preventing fraudulent use of login credentials, and to protect our website and services generally;
            <br> (e) analysis - we use cookies to help us to analyse the use and performance of our website and
            services; and
            <br> (f) cookie consent - we use cookies to store your preferences in relation to the use of cookies more
            generally.
            <br>
            <br>
        </p>
    </div>
</section>
</div>
{% include "lanex/base/footer.html" %}


{% endblock %}