{% extends 'lanex/base.html' %}
{% load static %}

{% block title_block %}
    Terms and Conditions
{% endblock %}
{% block body_block %}
<div class="container text-left">
    <div class="jumbotron p-3 jumbo-bg">
        <div class="container bg-success">
            <h2>TERMS AND CONDITIONS OF SERVICE</h2>
        </div>
    </div>

    <section id="terms" class="bg-light">
        <div class="container">
            <p class="lead" style="font-family: Arial, Helvetica, sans-serif;">What kinds of information do we collect?</p>
            <p class="lead" style="font-family: 'Times New Roman', Times, serif;">
            <br>Information and content you provide. We collect the content, communications and other information you provide when using our products, including when you register for an account, create or share content and messages, or communicate with others. This can include information in or about the content you provide (for example, metadata), such as the location of the photo or the date the file was created. It can also include what you see through the features we provide (such as translation), so we can implement suggestions such as recommended masks and filters, or provide you with tips on using portrait mode. Our system will automatically process the content and communications provided by you and others to analyze the context and the content in it for the following purposes. Learn more about how to control who can see what you share.
            
            <br>Network and connection. We collect information about the people, pages, accounts, hashtags and groups you connect to and how you interact with them in our products, such as the people with whom you communicate the most or the group you belong to. If you choose to upload, sync or import contact information from your device, we will also collect contact information, which will be used to help you and others find people you may know and for other purposes below.
            
            <br>Your usage. We collect information about how you use our products, such as the type of content you view or participate in, the features you use, the actions you take, the people or accounts you interact with, and the time, frequency, and duration of the activity. For example, we record when you used and last used our products, as well as the posts, videos and other content you viewed on our products. We also collect information about how you use functions such as the camera.
            
            <br>What others did and the information they provided about you. We also receive and analyze the content, communications and information provided by others when using our products. This can include information about you, such as when others share or comment on your photos, send you a message or upload, sync or import your contact information.
            <br>
            <br>
            </p>

            
            <p class="lead" style="font-family: Arial, Helvetica, sans-serif;">How do we use this information?</p>
            <p class="lead" style="font-family: 'Times New Roman', Times, serif;">
              <br>
              Location-related information: Use location-related information (such as your current location, your residence) to help you share your location with other people, and to facilitate offline meetings between you and other people. At the same time, you can find language communicators within a certain distance based on your location (for example, the same city), and the location-related information is based on Google map.
              <br>Promote safety, integrity and safety.
              We use the required information to verify accounts and activities, combat harmful behavior, detect and prevent spam and other bad experiences, maintain the integrity of our products, and promote the security of Lanex products. For example, we use necessary data to investigate suspicious activity or violations of our terms or policies, or to detect when we need help.
              <br>
              <br>
              </p>
                    <p class="lead" style="font-family: Arial, Helvetica, sans-serif;">The privacy rights of the users?</p>
                    <p class="lead" style="font-family: 'Times New Roman', Times, serif;">
                      <br>
                      <br>You have the right to confirmation as to whether or not we process your personal data and, where we do, access to the personal data, together with certain additional information.
                      
                      <br> You have the right to have any inaccurate personal data about you rectified and, taking into account the purposes of the processing, to have any incomplete personal data about you completed.
                      
                      <br>In some circumstances you have the right to the erasure of your personal data without undue delay. Those circumstances include: the personal data are no longer necessary in relation to the purposes for which they were collected or otherwise processed; you withdraw consent to consent-based processing; you object to the processing under certain rules of applicable data protection law; the processing is for direct marketing purposes; and the personal data have been unlawfully processed. However, there are exclusions of the right to erasure. The general exclusions include where processing is necessary: for exercising the right of freedom of expression and information; for compliance with a legal obligation; or for the establishment, exercise or defence of legal claims.
                      
                      <br> In some circumstances you have the right to restrict the processing of your personal data. Those circumstances are: you contest the accuracy of the personal data; processing is unlawful but you oppose erasure; we no longer need the personal data for the purposes of our processing, but you require personal data for the establishment, exercise or defence of legal claims; and you have objected to processing, pending the verification of that objection. Where processing has been restricted on this basis, we may continue to store your personal data. However, we will only otherwise process it: with your consent; for the establishment, exercise or defence of legal claims; for the protection of the rights of another natural or legal person; or for reasons of important public interest.
                      
                      <br> You have the right to object to our processing of your personal data on grounds relating to your particular situation, but only to the extent that the legal basis for the processing is that the processing is necessary for: the performance of a task carried out in the public interest or in the exercise of any official authority vested in us; or the purposes of the legitimate interests pursued by us or by a third party. If you make such an objection, we will cease to process the personal information unless we can demonstrate compelling legitimate grounds for the processing which override your interests, rights and freedoms, or the processing is for the establishment, exercise or defence of legal claims.
                      
                      <br>You have the right to object to our processing of your personal data for direct marketing purposes (including profiling for direct marketing purposes). If you make such an objection, we will cease to process your personal data for this purpose.
                      
                      <br>You have the right to object to our processing of your personal data for scientific or historical research purposes or statistical purposes on grounds relating to your particular situation, unless the processing is necessary for the performance of a task carried out for reasons of public interest.
                      <br>
                      <br>
                      </p>

                        <p class="lead" style="font-family: Arial, Helvetica, sans-serif;">Do we share information with other third party companies?</p>
                        <p class="lead" style="font-family: 'Times New Roman', Times, serif;">
                          <br>
                          We may disclose your personal data to our insurers and/or professional advisers insofar as reasonably necessary for the purposes of obtaining or maintaining insurance coverage, managing risks, obtaining professional advice, or the establishment, exercise or defence of legal claims, whether in court proceedings or in an administrative or out-of-court procedure.

                          <br>Financial transactions relating to our website and services may be handled by our payment services providers, Worldpay, Paypal, Apple, and Chargebee. We will share transaction data with our payment services providers only to the extent necessary for the purposes of processing your payments, refunding such payments and dealing with complaints and queries relating to such payments and refunds.
                          
                          <br>In addition to the specific disclosures of personal data set out in this Section 4, we may disclose your personal data where such disclosure is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person. We may also disclose your personal data where such disclosure is necessary for the establishment, exercise or defence of legal claims, whether in court proceedings or in an administrative or out-of-court procedure.
                          <br>
                          <br>
                          </p>
        </div>
        </section>
    </div>

{% endblock %}