{% extends 'lanex/base.html' %}
{% load static %}

{% block title_block %}
    Terms and Conditions
{% endblock %}
{% block body_block %}
<div class="container text-left">
    <div class="jumbotron p-4">
        <div class="container bg-success">
            <h2>TERMS AND CONDITIONS OF SERVICE</h2>
        </div>
    </div>

    <section id="terms" class="bg-light">
        <div class="container">
            <strong>What kinds of information do we collect?</strong>
            <br>
            <br>Information and content you provide. We collect the content, communications and other information you provide when using our products, including when you register for an account, create or share content and messages, or communicate with others. This can include information in or about the content you provide (for example, metadata), such as the location of the photo or the date the file was created. It can also include what you see through the features we provide (such as translation), so we can implement suggestions such as recommended masks and filters, or provide you with tips on using portrait mode. Our system will automatically process the content and communications provided by you and others to analyze the context and the content in it for the following purposes. Learn more about how to control who can see what you share.
            
            <br>Network and connection. We collect information about the people, pages, accounts, hashtags and groups you connect to and how you interact with them in our products, such as the people with whom you communicate the most or the group you belong to. If you choose to upload, sync or import contact information from your device, we will also collect contact information, which will be used to help you and others find people you may know and for other purposes below.
            
            <br>Your usage. We collect information about how you use our products, such as the type of content you view or participate in, the features you use, the actions you take, the people or accounts you interact with, and the time, frequency, and duration of the activity. For example, we record when you used and last used our products, as well as the posts, videos and other content you viewed on our products. We also collect information about how you use functions such as the camera.
            
            <br>What others did and the information they provided about you. We also receive and analyze the content, communications and information provided by others when using our products. This can include information about you, such as when others share or comment on your photos, send you a message or upload, sync or import your contact information.
            <br>
            <br>
            <p>
            <strong>How do we use this information?</strong>
              <br>
              <br>
              Location-related information: Use location-related information (such as your current location, your residence) to help you share your location with other people, and to facilitate offline meetings between you and other people. At the same time, you can find language communicators within a certain distance based on your location (for example, the same city), and the location-related information is based on Google map.
              <br>Promote safety, integrity and safety.
              We use the required information to verify accounts and activities, combat harmful behavior, detect and prevent spam and other bad experiences, maintain the integrity of our products, and promote the security of Lanex products. For example, we use necessary data to investigate suspicious activity or violations of our terms or policies, or to detect when we need help.
              <br>
            </p>
        </div>
        </section>
    </div>

{% endblock %}