{% include "lanex/index/carousel.html" %}

<div class="container mt-4 d-flex flex-column align-items-center w-75 p-3">

{% comment %} This will go semwehere else {% endcomment %}
{% comment %} <section id="about" class="bg-warning">
  <div class="container text-left">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Lanex</h2>
          <p class="lead">What Lanex is about:</p>
          <br>• A web application that enables users to connect with one another to exchange languages, 
          helping to improve language knowledge and allow users to create new language buddies along 
          the way
          <br>• Users are able to set up language requests based on their languages of interest and preferred 
          locations
          <br>• Reqeust can be anything related to language learning: request to meet, have a online 
          chat, join a study group, get recommendation, find a teacher etc.
          <br>• Users have the ability to accept language requests created by other users to take part in 
          language-related activities
          <br>• Users are granted the facility to make comments on language requests
          <br>• Users are provided with a search feature to make it easer to find language requests better 
          geared towards their preferences
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}

    {% include "lanex/request/requests.html" %}
    {% include "lanex/languages_view.html" %}
</div>
