.language-card-image {
    height: 160px !important;
    object-fit: cover
}

.index-carousel img {
    max-height: 400px !important;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: 50% 30%;
    filter: brightness(50%);
}

.carousel-caption
{
    top: 30%;
    font-size: large;
}

.jumbo-bg {
    background-color: #1888ff52 !important;
}

#id_location{
    display: none;
}

.separator {
    border-right: 1px solid #dfdfe0; 
}
.icon-btn-save {
    padding-top: 0;
    padding-bottom: 0;
}
.input-group {
    margin-bottom:10px; 
}
.btn-save-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}
