{% load static %}

<link
    rel="stylesheet"
    type="text/css"
    href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
/>

{% comment %} <a href="{% url 'lanex:show_request' r.language.slug r.slug %}"> </a> {% endcomment %}

<div class="container">
    <div class="col-sm-10 mb-4">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
                <div class="pull-left image">
                    {% if r.creator.picture %}
                    <img
                        src="{{ r.creator.picture }}"
                        class="rounded-circle avatar"
                        alt="user profile image"
                    />
                    {% else %}
                    <img
                        src="{% static 'images/avatar.png' %}"
                        class="rounded-circle avatar"
                        alt="user profile image"
                    />
                    {% endif %}
                </div>

                <div class="pull-left meta">
                    <div class="title h5">
                        <a href="{% url 'lanex:show_request' r.language.slug r.slug %}"
                            ><b>{{ r.title }}</b></a
                        >
                    </div>
                    <h6 class="text-muted time pull-left">{{r.creator}}</h6>
                </div>

                <div class="pull-right meta">
                    <div class="title h5">
                        <p>{{ r.language }}</p>
                    </div>
                </div>

                <div class="pull-right image">
                    {% if r.creator.picture %}
                    <img src="{{ r.picture }}" class="avatar" alt="request image" />
                    {% endif %}
                </div>
            </div>
            <div class="post-description text-left">
                <p>{{ r.description }}</p>
                <div class="stats">
                    <div class="btn btn-default stat-item">
                        <i class="fa fa-eye icon"></i>{{r.views}}
                    </div>
                    <div class="btn btn-default stat-item">
                        <i class="fa fa-calendar icon"></i>{{r.suggested_date}}
                    </div>
                    {% if r.location %}
                    <a
                        href="https://maps.google.com?q={{ r.location }}"
                        class="btn btn-default stat-item"
                    >
                        <i class="fa fa-map-marker icon"></i>Google Maps
                    </a>
                    {% comment %}
                    <h6>
                        <span data-feather="map-pin"></span><a class="logo"> Open Google Maps </a>
                    </h6>
                    {% endcomment %} {% endif %}
                </div>
            </div>
            {% comment %}
            <div class="post-footer">
                <div class="input-group">
                    <input class="form-control" placeholder="Add a comment" type="text" />
                    <span class="input-group-addon">
                        <a href="#"><i class="fa fa-edit"></i></a>
                    </span>
                </div>
                <ul class="comments-list">
                    <li class="comment">
                        <a class="pull-left" href="#">
                            <img
                                class="avatar"
                                src="https://bootdey.com/img/Content/user_1.jpg"
                                alt="avatar"
                            />
                        </a>
                        <div class="comment-body">
                            <div class="comment-heading">
                                <h4 class="user">Gavino Free</h4>
                                <h5 class="time">5 minutes ago</h5>
                            </div>
                            <p>Sure, oooooooooooooooohhhhhhhhhhhhhhhh</p>
                        </div>
                        <ul class="comments-list">
                            <li class="comment">
                                <a class="pull-left" href="#">
                                    <img
                                        class="avatar"
                                        src="https://bootdey.com/img/Content/user_3.jpg"
                                        alt="avatar"
                                    />
                                </a>
                                <div class="comment-body">
                                    <div class="comment-heading">
                                        <h4 class="user">Ryan Haywood</h4>
                                        <h5 class="time">3 minutes ago</h5>
                                    </div>
                                    <p>Relax my friend</p>
                                </div>
                            </li>
                            <li class="comment">
                                <a class="pull-left" href="#">
                                    <img
                                        class="avatar"
                                        src="https://bootdey.com/img/Content/user_2.jpg"
                                        alt="avatar"
                                    />
                                </a>
                                <div class="comment-body">
                                    <div class="comment-heading">
                                        <h4 class="user">Gavino Free</h4>
                                        <h5 class="time">3 minutes ago</h5>
                                    </div>
                                    <p>Ok, cool.</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            {% endcomment %}
        </div>
    </div>
</div>
